li {
  cursor:pointer;
}

li:hover{
  background-color: #ffffff99;
}

code{
  background-color: #eee;
  padding:2px;
  display:inline-block;
}

pre{
  background-color: #eee;
  padding:10px;
  padding-left: 20px;
  padding-right: 20px;
}